*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Hanken Grotesk", sans-serif;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: beige;
}

.panel-container {
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 20px;
  margin: 0;
  font-size: 18px;

}

.panel-left {
  text-align: center;
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 10px;
  padding: 20px;
  z-index: 1;
  margin-right: -20px;
  color:white;
  min-height: 300px;
}


.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  margin: 0 auto;
}

.circle h1 {
  padding:0 ;
  margin-top:10px;
  margin-bottom: 0;
}

.circle p {
  font-size: 11px;
  color:lightgrey;
}

.paragraph1{
  font-size: 10px;
  margin-left:20px;
  margin-right:20px;
  color:lightgrey;
}

.panel-left h5{
  margin-bottom: 20px;
  color:lightgrey;
}

.panel-left h3{
  margin-top: 20px;
}


.panel-right {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  z-index: 0;
  margin-left: -10px; 
}

.panel-right h5{
  text-align: left;
  padding-bottom: 15px;
}


.data-box-1,
.data-box-2,
.data-box-3,
.data-box-4 {
  text-align: left;
  font-size: 12px;
  margin: 0px 0px 15px 0px;
  border-radius: 10px;
  min-height: 30px;
  padding: 5px 0px 0px 5px;
  width: 100%; 
}

.data-box-1 {
  position: relative;
  background-color: hsla(0, 100%, 67%, 0.1);
}
.data-box-1 .end{
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.data-box-2 {
  position: relative;
  background-color: hsla(39, 100%, 56%, 0.1);
}
.data-box-2 .end {
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.data-box-3 {
  position: relative;
  background-color: hsla(166, 100%, 37%, 0.1);
}
.data-box-3 .end{
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.data-box-4 {
  position: relative;
  background-color: hsla(234, 85%, 45%, 0.1);
}
.data-box-4 .end{
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.button1 {
  color:white;
  border-radius: 40px;
  text-align: center;
  width: 100%;
  font-size: 10px;
  min-height: 30px;
  background-color: navy;
  margin-top:10px;
}

.panel-right div:nth-of-type(1) {
  color: hsla(0, 100%, 67%);
}

.panel-right div:nth-of-type(2) {
  color: hsla(39, 100%, 56%);
}

.panel-right div:nth-of-type(3) {
  color: hsla(166, 100%, 37%);
}

.panel-right div:nth-of-type(4) {
  color:hsla(234, 85%, 45%);
}


@media screen and (max-width: 375px) {
  body {
    padding: 0px;
    margin: 0px;
  }
  .panel-container {
    grid-template-columns: 1fr;
    height: auto;
    width: 100%;
  }

  .panel-left {
    margin-right: 0;
  }

  .panel-right {
    margin-left: 0;
  }
}
